.form-container {
  text-align: center;
  margin: 2rem auto;
  padding: 2% 10%;
  border: 1px solid #ccc;
  border-radius: 8px;
  background-color: #f9f9f9;
  width: 90%;
  box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.1);

  &.hidden {
    opacity: 0;
    transform: translateY(30px);
  }

  &.fade-in {
    opacity: 1;
    transform: translateY(0);
    transition: opacity 0.5s ease, transform 0.5s ease;
  }

  .date-fields {
    display: flex;

    .input-field {
      flex: 1;
      margin-right: 10px;
      label {
        display: block;
        margin-bottom: 5px;
      }
      input {
        width: 100%;
      }
    }
  }

  .input-field {
    margin-bottom: 50px;
    
    label {
      color: $color-darkGrey;
      display: block;
      margin-bottom: 5px;
      font-size: larger;
    }
    
    input,
    select {
      width: 100%;
      padding: 10px;
      border: none;
      border-bottom: 2px solid rgba($color-orange, 0.5);
      background-color: transparent;
      transition: border-color 0.3s ease;
      
      &:focus {
        outline: none;
        border-color: $color-orange;
      }
    }
  }

  .option-selector {
    display: flex;
    justify-content: center;
    margin-bottom: 30px;
  
    label {
      flex: 1;
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 8px;
      cursor: pointer;
      position: relative;
      transition: color 0.3s;
      color: $color-darkGrey;
  
      input[type="radio"] {
        display: none;
      }
  
      &.selected {
        color: $color-orangeSite;
        font-size: 18px;
        font-weight: bold;
      }
  
      &:hover {
        color: $color-orangeSite;
      }
    }
  }

  .form-button {
    background-color: $color-salmon;
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 5px;
  }
}

.input-field ul {
  list-style: none;
  padding: 0;
  margin-top: 20px;
  margin-bottom: -20px;
}

.input-field ul li {
  display: flex;
  align-items: center;
  margin-bottom: 5px;
}

.input-field ul li button {
  margin-left: 5px;
  background-color: transparent;
  border: none;
  color: $color-orange;
}