
/* Style for the navigation bar */
.NavBarGlobal {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.NavBar {
  padding: 2% 0;
  margin: 15px;
  display: flex;
  justify-content: flex-end; /* Aligner le contenu à droite */
  align-items: center;
  margin: 0 auto; /* Centrer horizontalement */
}

.NavBar ul {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}

.NavBar li {
  padding: 15px; /* Espacement plus marqué entre les éléments */
  min-width: 120px;
}

.NavBar a {
  color: $color-darkGrey;
  text-decoration: none;
  position: relative;
  font-size: 18px; /* Augmenter la taille de la police */
}

/* Style for the active link */
.NavBar .active {
  color: $color-orangeSite; /* Texte en orange pour le lien actif */
  font-size: 20px; /* Augmenter la taille de la police pour le lien actif */
  font-weight: bold; /* Mettre en gras pour le lien actif */
}

.login-button {
  /* Ajoutez ici le style spécifique pour le bouton "se connecter" */
  /* Par exemple : */
  background-color: $color-salmon; /* Utilisation de la variable $color-darkGrey définie dans index.scss */
  color: white;
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  border-radius: 5px;
  cursor: pointer;
  /* Ajoutez d'autres styles selon vos préférences */
}