
/* Style for the navigation bar */
.NavBarGlobal {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.NavBar {
  padding: 2% 0;
  margin: 15px;
  display: flex;
  justify-content: flex-end; /* Aligner le contenu à droite */
  align-items: center;
  margin: 0 auto; /* Centrer horizontalement */
}

.NavBar ul {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}

.NavBar li {
  padding: 10px;
  min-width: 150px;
  transition: color 0.3s, opacity 0.3s;
}

.NavBar li:not(.active):hover {
  color: $color-orangeSite; /* Nouvelle règle : Appliquer la couleur orangeSite sans transparence au survol, uniquement pour les éléments non-actifs */
}

.NavBar a {
  color: $color-darkGrey;
  text-decoration: none;
  position: relative;
  font-size: 18px; /* Augmenter la taille de la police */
}

/* Style for the active link */
.NavBar .active {
  color: $color-orangeSite;
  font-size: 20px; 
  font-weight: bold; 
}

.login-button {
  background-color: $color-salmon; 
  color: white;
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  border-radius: 5px;
  cursor: pointer;
}

