/* Style for the NavBarEncodage */
.NavBarSecondaire {
  padding: 10px;
  display: flex;
  justify-content: flex-start; /* Aligner le contenu à gauche */
  align-items: center;
}

.NavBarSecondaire ul {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}

.NavBarSecondaire li {
  padding: 10px;
  min-width: 150px;
  transition: color 0.3s, opacity 0.3s;
}

.NavBarSecondaire a {
  color: $color-darkGrey;
  text-decoration: none;
  position: relative;
  font-size: 18px; /* Augmenter la taille de la police */
  transition: color 0.2s; /* Ajouter une transition de 0.2s pour la couleur */
}

/* Style for the active link in the NavBarEncodage */
.NavBarSecondaire .active {
  color: $color-orangeSite; /* Texte en orange pour le lien actif */
  font-size: 20px; /* Augmenter la taille de la police pour le lien actif */
  font-weight: bold; /* Mettre en gras pour le lien actif */
}

/* Hover effect */
.NavBarSecondaire li:not(.active):hover {
  color: $color-orangeSite; /* Nouvelle règle : Appliquer la couleur orangeSite sans transparence au survol, uniquement pour les éléments non-actifs */
}

