/* Style for the NavBarEncodage */
.navbar-secondaire {
  padding: 10px;
  display: flex;
  justify-content: flex-start; /* Aligner le contenu à gauche */
  align-items: center;
}

.navbar-secondaire ul {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}

.navbar-secondaire li {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 25px 25px; /* Réduire le padding horizontal */
  margin: 0 15px; /* Ajouter un espacement horizontal entre les éléments */
  transition: color 0.3s, opacity 0.3s;
}

.navbar-secondaire a {
  color: $color-darkGrey;
  text-decoration: none;
  position: relative;
  font-size: 18px; /* Augmenter la taille de la police */
}

/* Style for the active link in the NavBarEncodage */
.navbar-secondaire .active {
  color: $color-orangeSite; /* Texte en orange pour le lien actif */
  font-size: 20px; /* Augmenter la taille de la police pour le lien actif */
  font-weight: bold; /* Mettre en gras pour le lien actif */
}

/* Hover effect */
.navbar-secondaire li:hover {
  color: $color-orangeSite; /* Appliquer la couleur orangeSite avec une transparence de 0.8 au survol */
}

