.radio-button-selector {
    display: flex;
    justify-content: center;
    margin-bottom: 30px;

    label {
        flex: 0.4;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 8px;
        cursor: pointer;
        transition: color 0.3s;
        position: relative;
        color: $color-darkGrey;

        input[type="radio"] {
            display: none;
        }

        &.selected {
            background-color: $color-orange; /* Couleur de fond personnalisée pour les éléments th */
            color: #FFF; /* Couleur du texte dans les éléments th */
            border-radius: 10px 10px;
            transition: background-color 0.3s; /* Ajout de la transition pour le survol */
        }

        &:not(.selected):hover {
            color: $color-orangeSite;
            transition: color 0.3s; /* Ajout de la transition uniquement pour le survol */
        }
    }
}
