.table-data, .table-data-small {
    width: 100%;
    margin: 0 auto;
    border-collapse: collapse;
  }
  
  .table-data th, .table-data-small th {
    border-bottom: 2px solid $color-orange;
  }
  
  .table-data td, .table-data-small td {
    height: 50px; /* Hauteur fixe pour les lignes, ajustez selon vos besoins */
  }
  
  .table-data-small {
    width: 80%;
  }
  
  .table-data-small th, .table-data-small td {
    width:20%;
  }
  
  .table-data tr:nth-child(even),
  .table-data-small tr:nth-child(even) {
    background-color: rgba($color-orange, 0.2);
  }