.table-container {
  max-height: 420px;
  overflow: auto;
}

.table-data tbody:before {
  line-height:0.8em; content:"\200C"; display:block;
}

.table-data-schedule {
  width: 100%;
  margin: 0 auto;
  border-collapse: collapse;
}

/* Style pour th (sauf la première cellule) */
.table-data-schedule th:not(:first-child),
.table-data th:not(:first-child) {
  background-color: rgba($color-orange, 0.9); /* Couleur de fond personnalisée pour les éléments th */
  color: #FFF; /* Couleur du texte dans les éléments th */
  border-radius: 10px 100px;
}

.table-data-schedule th,
.table-data th {
  border-bottom: none;
}

.table-data-schedule .personne-nom,
.table-data .personne-nom {
  vertical-align: bottom;
  font-weight: 600;
  height:65px;
}

.table-data .personne-nom {
  vertical-align: middle;
}

.table-data-schedule td {
  height: 62px;
}

.table-data-schedule .semaine2 {
  background-color: rgba($color-orange, 0.2);
}

.table-data-schedule .week-cell {
  color: $color-orange;
  font-weight: 600;
}

.table-data-schedule .search-input,
.table-data .search-input {
  height: 40px;
  width: 150px;
}

.schedule-cell {
  white-space: pre-line;
}