.phone-table {
  width: 40%;
  margin: 0 auto;
  border-collapse: collapse;
}

.phone-table th, .phone-table td {
  width: 20%; /* 20% pour chaque colonne, assurez-vous d'ajuster en conséquence */
  padding: 10px;
  text-align: center;
}

.phone-table th {
  background-color: $color-darkGrey; /* Couleur de fond personnalisée pour les éléments th */
  color: #FFF; /* Couleur du texte dans les éléments th */
}

.phone-table td {
  height: 50px; /* Hauteur fixe pour les lignes, ajustez selon vos besoins */
  border-bottom: 1px solid #000;
}

.phone-table tr:last-child td {
  border-bottom: none;
}
