.titre-logo {
  display: flex;
  align-items: center;
  font-size: 1.2rem;
  font-weight: bold;
  padding: 10px 0px; 
  z-index: 2;
  position: relative;
  margin-right: auto;

  a {
    text-decoration: none;
  }

  .logo {
    width: 60px;
    height: 60px;
    margin-right: 10px;
  }

  .titre-container {
    display: flex;
    flex-direction: column;
  }

  .bibliotheque {
    color: black;
  }

  .barre-oblique {
    margin: 15px;
    font-size: 2.5rem;
    color: $color-orangeSite;
  }

  .intranet {
    color: $color-orangeSite;
  }

  @media (max-width: 1700px) {
    .bibliotheque,
    .barre-oblique {
      display: none;
    }
    .logo {
      height: 50px;
      width: 50px;
    }
  }
}
