$font-1: "font-1", "Century Gothic";

$color-orange: #f7723d;
$color-orangeSite: #F29425;
$color-salmon: salmon;
$color-darkGrey: #363538;
$white: rgb(243, 243, 243);

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background: $white;
  font-family: $font-1;
  color: $color-darkGrey;
  // @include verticalCenter;
}

h1 {
  font-size: 2rem; /* Taille de police */
  color: $color-orange; /* Couleur du texte */
  position: relative; /* Ajouter position relative pour positionner la bordure */
  display: inline-block; /* Permettre à la bordure de s'arrêter à la fin du texte */
  margin-bottom: 20px; /* Ajouter de l'espace en dessous du titre */
}

h1::after {
  content: ""; /* Ajouter un élément pseudo-élément pour créer la bordure */
  display: block;
  height: 4px; /* Hauteur de la bordure */
  background-color: $color-orange; /* Couleur de la bordure */
  position: relative;
  bottom: -8px; /* Décaler la bordure vers le bas pour la positionner sous le texte */
  border-radius:50px;
}

.container {
  width: 60%;
  margin: 0 auto;
}

