.faq-container {
    text-align: left;

    h3, h4 {
      cursor: pointer;
      user-select: none;
    }

    h3 {
      color: $color-orange;
      padding: 10px;
      padding-right: 25px; // Faites de la place pour la flèche à droite

      &::after {
        content: "\142F"; // Utilisez un symbole de flèche vers le bas
        position: absolute;
        right: 10px;
        transition: transform 0.3s; // Pour une animation douce lors de la rotation
        margin-right: 5%;
        font-size: 17px;
      }

      &:hover:not(.active) { 
        border-left: 2px solid rgba($color-orange, 0.8);
      }

      &.active {  
        border: 2px solid $color-orange;
        width: 100%;
        border-radius: 10px;

        &::after {
          transform: rotate(90deg); // Fait pivoter la flèche pour qu'elle pointe vers la gauche lorsqu'elle est active
        }
      }
    }

    h4 {
      background-color: $color-orangeSite; // Orange clair pour le background (encore une fois, ajustez selon vos préférences)
      padding: 10px; // Ajout de padding pour de l'espace autour du texte
      margin: 10px 0; // Ajout d'une marge pour séparer les questions
      border-radius: 5px; // Ajout de coins arrondis pour un aspect plus doux
      color:white;  
      transition: background-color 0.3s;

      &:hover{
        background-color: rgba($color-orangeSite, 0.8);
      }
    }

    p {
        padding: 10px; // Ajout de padding pour de l'espace autour du texte
        margin: 10px 0; // Ajout d'une marge pour séparer les questions
    }

}